h1 { background: black; border: 13px solid; /* red */ box-shadow: 3px 3px 3px  #f90; color: cadetblue;}

h2 { background: black; border: 13px solid; /* #f99 */ box-shadow: 3px 3px 3px  #f90; color: mediumspringgreen;}

h3 { color: green; font-family: Arial, Sans-seriff; font-size: 1.5em; foreground: black;}



    
